        <ul id="header">
          <li class="nav-li nav-li-a"><a href="#",>ツイート</a></li>
          <li class="nav-li nav-li-a"><a href="#",>ツイートと返信</a></li>
          <li class="nav-li nav-li-a"><a href="#",> メディア</a></li>
          <li class="nav-li nav-li-a"><a href="#",>いいね</a></li>
        </ul>
        <%= yield %>
     